{% extends 'base.html.twig' %} {% block title %} Hello PageProjetController! {% endblock %} {% block body %}

<div class="content-page-projet">
    <div class="top-page-projet">
        {% if project.videoOrLogo == 'logo' %}
        <img src="{{ project.picture }}" alt="Image du projet"> {% else %}
        <iframe width="560" height="315" src="{{ project.video }}" title="Vidéo du projet {{project.name}}" frameborder="0" allow="clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe> {% endif %}
        <div class="over_img">
            <p>
                {{ project.currentPhase }}
            </p>
            <span>
					Q
				</span>
            <span>
					Q
				</span>
            <span>
					Q
				</span>
        </div>
        <div class="info-projet">
            <h3>
                {{ project.name }}
            </h3>
            <span>
					Accompagné par :
					<strong>
						{{ project.incubator }}
					</strong>
				</span>
            <h4>
                {% for domain in project.domains %} {{ domain.name }} - {% endfor %}
            </h4>
            <p>
                {{ project.globalVision }}
            </p>
            <ul>
                <li>
                    Impact Social
                </li>
                <li>
                    Equipe de choc
                </li>
                <li>
                    Didactique
                </li>
                <li>
                    Ambitieux
                </li>
            </ul>
        </div>
    </div>
    <div class="page-projet-btns">
        <a class="edit-projet-btn" href="{{ path('edit_projet', {'id': project.id}) }}">
				Modifier ma page projet
			</a>
        <a class="check-add-request-btn">
				Voir les demandes de collaborations
			</a>
    </div>
    <div class="progress-bar-wrapper">
        <div class="progress-bar-container">
            <div class="progress-bar-content"></div>
        </div>
        <span>
				Étude de marché
			</span>
        <span>
				Étude de besoins
			</span>
        <span>
				Validation du concept
			</span>
        <span>
				Rédaction du business plan
			</span>
        <span>
				Création d’un MVP
			</span>
        <span>
				Test utilisateurs
			</span>
        <span>
				Lancement sur le marché
			</span>
        <span>
				En activité
			</span>
    </div>
    <div class="main-content">
        <div class="alinea"></div>
        <h3>
            Elevator Pitch
        </h3>
        <p>
            {{ project.elevatorSpeech }} Numquam soluta enim ex cupiditate blanditiis voluptates tempora placeat atque iusto rem doloremque magnam eos iste nulla sint, qui natus laboriosam quos sit molestias, consectetur, eaque expedita error! Ad, possimus! Sit praesentium
            aliquid, repellendus dolores quisquam quo, iure quasi nostrum perferendis quia sed. Est quo facilis adipisci, quos assumenda aut deleniti, doloribus deserunt nesciunt, corrupti consectetur vero hic? Reiciendis, enim! Animi nesciunt ratione
            distinctio ipsa inventore iusto impedit fugit totam ducimus magni, molestias minus nostrum. Impedit, labore reprehenderit officia iure magnam ad aut tenetur, molestiae in harum non porro quas? Veritatis, fugiat numquam soluta aspernatur vel
            magni, itaque, perspiciatis pariatur voluptate dolorem aliquid! Modi similique inventore totam, vero error accusamus voluptatibus ex magni impedit ullam molestiae perferendis recusandae debitis. Atque.
        </p>
        <div class="alinea type-2"></div>
        <h3>
            L’équipe {{ project.name }}
        </h3>
        <span>
				Sprinter
			</span>
        <div class="team-member-card">

            <img src="{{ project.author.profilePic }}" alt="photo de profil">
            <h4>
                {{ project.author.surname }} {{ project.author.name }}
            </h4>
            <p>
                {{ project.author.cursus }}
            </p>
            <h4>
                Porteur de projet
            </h4>
            <p>
                {% for job in project.author.jobs %} {{ job }} - {% endfor %}
            </p>


            {% for member in project.members %} {% if member.student != null and member != project.author %}
            <img src="{{ member.profilePic }}" alt="photo de profil">
            <h4>
                {{ pmember.surname }} {{ member.name }}
            </h4>
            <p>
                {{ member.cursus }}
            </p>
            <h4>
                {{ member.job.name }}
            </h4>
            <p>
                {% for job in member.jobs %} {{ job }} - {% endfor %}
            </p>
            {% endif %} {% endfor %}
        </div>
        <div class="alinea type-2"></div>
        <h3>
            Les collab recherchées
        </h3>
        <span>
				Sprinter
			</span>
        <div class="add-request">
            {% for member in project.members %} {% if member.student == null %}
            <input id="toggle-ad" type="checkbox" checked>
            <label for="toggle-ad">
							<div class="card-annonce">
								<div class="header-card">
									<img class="img-card" src="../img/{{ member.job.category }}.png" alt="photo de profil">
									<h4>
										{{ member.job.name }}
									</h4>
								</div>
								<div class="body-card">
									<h4>
										{{ member.type }}
									</h4>
									<p>
										{{ member.retribution }}
									</p>
								</div>
							</div>
						</label>
            <button class="actualiser">
							Actualiser
						</button>
            <div id="expand">
                {% for applicant in member.applicants %}
                <img src="{{applicant.profilePic}}" alt="photo de profil">
                <span>
									En attente depuis
									<br>
									Juillet 2021
								</span>
                <h4>
                    {{ applicant.surname }} {{ applicant.name }}
                </h4>
                <p>
                    {{ applicant.cursus }}
                </p>
                <div class="response">
                    <button class="active">
										Contacter
									</button>
                    <button>
										Accepter
									</button>
                    <button>
										Décliner
									</button>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>
{{ include('/home/_projets_display_block.html.twig') }} {% endblock %}