{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
	<div style="
		padding: 10rem 4rem;
		line-height: 200%;
	">
		{{ form_start(form) }}
			<!-- Onglet 1 -->
			{{ form_row(form.surname) }}
			{{ form_row(form.name) }}
			{{ form_row(form.gender) }}
			{{ form_row(form.birthday) }}
			{{ form_row(form.school) }}
			{{ form_row(form.study_level) }}
			{{ form_row(form.graduation_year) }}
			{{ form_row(form.school_name) }}

			<!-- Onglet 2 -->
			{{ form_row(form.skills) }}
			{{ form_row(form.domains) }}
			{{ form_row(form.contact) }}
			{{ form_row(form.bio) }}

			<!-- Onglet 3 -->
			{{ form_row(form.phone) }}
			{{ form_row(form.social) }}
			{{ form_row(form.social_url) }}
			{{ form_row(form.email) }}
			{{ form_row(form.password) }}
			{{ form_row(form.agreeTerms) }}
			{{ form_row(form.submit) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
