<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <body>
    <nav class="">
  <a class="" href="{{ path('home') }}">Stud'Up</a>
  <button class="" type="button" data-toggle="collapse" data-target="" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""></span>
  </button>
    <form class="">
      <input class="" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="" type="submit">Search</button>
    </form>
  <div class="" id="">
    <ul class="">
      <li class="">
        <a class="" href="# {# {{ path('educationalContent') }} #}">Contenu Pédagogique</a>
      </li>
      <li class="">
        <a class="" href="{{ path('ecoles') }}">Ecoles</a>
      </li>
            <li class="">
        <a class="" href="{{ path('projets') }}" >Projets</a>
      </li>
    </ul>
  </div>
</nav>
        {% block body %}{% endblock %}
    </body>
</html>
